/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/09/2015, 12:20:53 PM
    Author     : aprendiz_sistemas
*/
    #container-main{
        margin:0 auto;
        width:100%;
        max-width:1360px;

    }

    .accordion-container {
        width: 100%;
        margin: 0 0 20px;
        clear:both;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgb(51,51,51);
        background: transparent;  
    }

    .accordion-titulo {
        position: relative;
        display: block;
        padding: 20px;
        font-size: 18px;
        font-weight: 300;
/*        background: steelblue;*/
        background: #55B4DF;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        -moz-box-shadow: 3px -2px 5px #000000;
        -webkit-box-shadow: 3px -2px 5px #000000;
        box-shadow: 3px -2px 5px #000000;
    }
    .accordion-titulo.open {
        background: #16a085;
        color: #fff;
    }
    .accordion-titulo:hover {
        background: #1abc9c;
    }

    .accordion-titulo span.toggle-icon:before {
        content:"+";
    }

    .accordion-titulo.open span.toggle-icon:before {
        content:"-";
    }

    .accordion-titulo span.toggle-icon {
        position: absolute;
        top: 1px;
        right: 20px;
        font-size: 38px;
        font-weight:bold;
    }

    .accordion-content {
        display: none;
        padding: 20px;
        overflow: auto;
    }
    
    .form-group label{
        font-size: 18px;
    }
